@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'San Francisco';
  font-weight: 700;
  src: url('src/assets/Poppins-Regular.ttf');
}
:root {
  --black: #000000;
  --black-lighter: #171717;
  --blue: #456cf8;
  --white: #ffffff;
  --border-radius: 4px;
}

.bg_grd {
  background: linear-gradient(180deg, #2e1741, #0e0210);
  background-size: 400% 400%;
  height: 100vh;
  -webkit-animation: AnimationName 6s ease infinite;
  -moz-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 52% 0%;
  }
  50% {
    background-position: 49% 100%;
  }
  100% {
    background-position: 52% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 52% 0%;
  }
  50% {
    background-position: 49% 100%;
  }
  100% {
    background-position: 52% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 52% 0%;
  }
  50% {
    background-position: 49% 100%;
  }
  100% {
    background-position: 52% 0%;
  }
}
p {
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}
body {
  background-color: #000000;
  font-family: 'San Francisco', sans-serif;
}
* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
