@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Font';
  font-weight: 700;
  src: url('src/assets/Font.ttf');
}
:root {
  --black: #000000;

  --blue: #2a2438;
  --white: #ffffff;
  --border-radius: 4px;
}

.bg_grd {
  background: linear-gradient(180deg, #2e1741, #0e0210);
  background-size: 400% 400%;
  height: 100vh;
  -webkit-animation: AnimationName 6s ease infinite;
  -moz-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 52% 0%;
  }
  50% {
    background-position: 49% 100%;
  }
  100% {
    background-position: 52% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 52% 0%;
  }
  50% {
    background-position: 49% 100%;
  }
  100% {
    background-position: 52% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 52% 0%;
  }
  50% {
    background-position: 49% 100%;
  }
  100% {
    background-position: 52% 0%;
  }
}
p {
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}
body {
  background-color: #000000;
  font-family: 'San Francisco', sans-serif;
}
* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.login-artwork {
  background-image: url('./assets/artworks/mountain.svg');
}
.img__wrap {
  position: relative;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  text-align: center;
  transition:
    opacity 0.2s,
    visibility 0.2s;
  padding-top: 110px;
  font-size: large;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}
